<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="../static/table.css" th:href="@{table.css}">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css" />

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Kaushan+Script&family=Comfortaa:wght@600&display=swap">

    <link rel="shortcut icon" href="img/иконка.png" type="image/png">
    <title>Екологічний моніторинг</title>

</head>

<body>
    <header>
        <div class="video-bg">
            <video src="img/bgv.mp4" type="video/mp4" autoplay muted loop></video>
            <div class="effects"></div>
            <div class="content">
                <div class="wrapper">
                    <div class="info">
                        <div class="icon">
                            <img src="img/icon.svg" alt="icon">
                            <h1>EcoNist</h1>
                        </div>
                        <ul class="navigation">
                            <li><a href="#about">About us</a></li>
                            <li><a href="">Projects</a></li>
                            <li><a href="">Pricing</a></li>
                            <li><a href="">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="net">
                        <ul>
                            <li><a href="" class="bx bxl-facebook"></a></li>
                            <li><a href="" class="bx bxl-instagram"></a></li>
                            <li><a href="" class="bx bxl-linkedin"></a></li>
                            <li><a href="https://github.com/max-zagrebelny/environmental-monitoring-website"
                                    class="bx bxl-github"></a></li>
                        </ul>
                        <div class="phrase">
                            <blockquote>
                                <p>In nature there are neither rewards nor punishments.</p>
                                <p>there are consequences.</p>
                                <cite>— Robert Green Ingersoll</cite>
                            </blockquote>
                        </div>
                    </div>
                    <div class="elem">
                        <div class="shaking-elem">
                            <svg version="1.0" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512.000000 512.000000"
                                preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)" fill="#fff"
                                    stroke="none">
                                    <path d="M2370 5113 c-25 -1 -97 -10 -160 -19 -747 -102 -1410 -532 -1824
                        -1184 -63 -99 -186 -351 -230 -471 -88 -241 -142 -520 -152 -789 -23 -601 166
                        -1180 544 -1670 84 -109 323 -348 432 -432 490 -378 1070 -567 1670 -544 671
                        25 1277 295 1745 777 769 792 944 1976 436 2954 -127 245 -259 425 -465 631
                        -78 77 -179 170 -226 206 -514 396 -1136 587 -1770 541z m-790 -1934 c34 -15
                        160 -135 513 -487 l467 -467 468 467 c491 491 511 508 597 508 42 0 116 -29
                        149 -58 30 -26 66 -113 66 -157 -1 -87 -13 -102 -578 -668 -295 -296 -557
                        -553 -582 -570 -41 -29 -52 -32 -120 -32 -68 0 -79 3 -120 32 -25 17 -287 274
                        -582 570 -565 566 -578 581 -578 668 0 42 29 116 58 149 26 30 113 66 157 66
                        22 0 60 -10 85 -21z" />
                                </g>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sea waves">
            <div class="wave" id="wave1"></div>
            <div class="wave" id="wave2"></div>
            <div class="wave" id="wave3"></div>
            <div class="wave" id="wave4"></div>
        </div>
    </header>
    <main>
        <div class="wrapper">
            <h2 id="about">Про нас</h2>
            <div class="notes1">
                <img id="img1" src="img/img1.png">
                <div class="about">
                    <p>Кожного дня ми стоїмо на варті захисту природи.
                        Ми не можемо дивитися як люди нищать наше оточуюче середовище, тому ми робимо усе щоб зберегти
                        його. Наша компанія займається екологічним моніторингом.
                        Екологічний моніторинг - процес спостереження за станом навколишнього середовища,яке включає
                        спостереження і збір даних збір за рівнем і станом вод,
                        речовин у повітрі, станом грунтів. Екологічне спостереження дозволяє виявити зміни, що
                        відбуваються під час природних процесів, і зміни, які відбуваються під безпосереднім людським
                        впливом.
                    </p>
                </div>
            </div>
            <div class="notes2">
                <img id="img2" src="img/img2.png">
                <div class="about2">
                    <p>Під час екологічного спостереження ми слідкуємо за станом довкілля, формуємо інформаційні дані
                        про поточний стан довкілля та ступінь його забрудненості,
                        здійснюємо широкомасштабні спостереження за факторами антропогенної дії, складаємо прогноз
                        тенденцій змін стану природного довкілля,
                        визначаємо джерела впливу антропогенного характеру та організовуємо спостереження за ними.
                        За допомогою цих всіх видів діяльності ми можемо запобігти створення природних катастроф та
                        техногенних аварій.
                    </p>
                </div>
            </div>
            <div class="notes1">
                <img id="img3" src="img/img3.png">
                <div class="about3">
                    <p>Наша компанія надає широкий спектр послуг, таких як: оцінка впливів на навколишнє середовище
                        (ОВНС), енергозбереження та енергоефективність,
                        розробка енергетичного сертифікату будівель, експертиза проектної документації, тощо.
                        Ми опрацювали сотні унікальних проектів. Наші можливості гарантують, що ви працюватимете
                        безпосередньо з нашими досвідченими та професійними фахівцями і можете бути впевнені, що навіть
                        найбільші ваші проекти отримають нашу персональну увагу.</p>
                </div>
            </div>
            <h2>Переваги роботи з нами</h2>
            <div class="advantages">
                <div class="adv1">
                    <div class="container">
                        <img class="note_numbers" src="img/one.png" alt="1">
                        <div class="txt">
                            <h3>Оперативнiсть</h3>
                            <p>Оперативне внесення правок за бажанням клієнта</p>
                        </div>
                    </div>
                </div>
                <div class="adv2">
                    <img class="note_numbers" src="img/two.png" alt="2">
                    <div class="txt">
                        <h3>Якiсть</h3>
                        <p>Безпрецедентна якість надання послуг</p>
                    </div>
                </div>
                <div class="adv3">
                    <div class="container1">
                        <img class="note_numbers" src="img/three.png" alt="3">
                        <div class="txt">
                            <h3>Комунiкацiя</h3>
                            <p>Постійний зв'язок з менеджером, що координує проект клієнта</p>
                        </div>
                    </div>
                </div>
                <div class="adv4">
                    <div class="container2">
                        <img class="note_numbers" src="img/four.png" alt="4">
                        <div class="txt">
                            <h3>Контроль</h3>
                            <p>Відслідковування процесу виконання робіт</p>
                        </div>
                    </div>
                </div>
                <div class="adv5">
                    <div class="container3">
                        <img class="note_numbers" src="img/five.png" alt="5">
                        <div class="txt">
                            <h3>Термiни</h3>
                            <p>Фіксований термін виконання робіт. Терміни до 30 днів</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main_info">
                <h2>Екологiчний монiторинг</h2>
                <p>Тут ви можете переглянути дані екологічного моніторингу проведеного нашою компанією для різних міст.
                    Ви можете ознайомитись з усіма доспуними даними.</p>
                <form class="input_city" th:action="@{/home}">
                    <div class="search-city">
                        <div class="city_list">
                            <label>Оберіть місто: </label>
                            <div class="add_list">
                                <input th:name="cityName" type="text" list="multy-list" pattern="[А-Яа-яґҐІіЇїЄє'’ʼ]{2,20}" placeholder="місто" required oninvalid="setCustomValidity('Введіть назву від 2 до 20 знаків без цифр і пробілів')" oninput="setCustomValidity('')">
                                <datalist th:name="cityName" id="multy-list">
                                    <option>Черкаси</option>
                                    <option>Київ</option>
                                    <option>Львів</option>
                                    <option>Одеса</option>
                                </datalist>
                            </div>
                        </div>
                        <div class="city_list">
                            <label>Оберіть рік: </label>
                            <div class="add_list">
                                <input th:name="cityYear" list="multy-list2" pattern="20[0-9]{2}" placeholder="рік" required oninvalid="setCustomValidity('Використовуйте лише цифри. Вводьте не більше 4 знаків')" oninput="setCustomValidity('')">
                                <datalist th:name="cityYear" id="multy-list2">
                                    <option>2019</option>
                                    <option>2020</option>
                                    <option>2021</option>
                                </datalist>
                            </div>
                        </div>
                    </div>
                    <div class="form_button">
                        <button type="submit">Знайти</button>
                        <button type="reset">Очистити</button>
                    </div>
                </form>
                <div id="table">
                    <h2 id="project">Проект 1: Екологiчне нормування по м.<span id="obj-city" th:object="${city}"
                            th:text="${city.name}"></span> <span th:text="${city.year}"></span></h2>
                    <script th:inline="javascript">
                        let cityName = [[${ city.name }]];
                        if (cityName == null) {
                            let table = document.getElementById('table');
                            table.style.display = 'none';
                        }
                        else {
                            document.location.replace(href = "#table");
                        }
                    </script>
                    <table id="table-city" class="table">

                        <tr>
                            <th>Об'єкт</th>
                            <th>Речовина</th>
                            <th>Об'єм викидів т/рік</th>
                            <th>Середньо добові ГДК</th>
                            <th>Гранично допустимі викиди мг/м3</th>
                            <th>Клас небезпеки</th>
                            <th>Дотримання норм</th>
                            <!--<th>Заходи, спрямовані на зменшення об'єму викидів шкідливих речовин</th>-->
                        </tr>
                        <div th:each="ft : ${city.getFactories()}">
                            <tr class="table-info" th:each="el : ${ft.getElements()}">
                                <td th:text="${ft.getName()}"></td>
                                <td th:text="${el.getNameElement()}"></td>
                                <td th:text="${el.getTotalEmissions()}"></td>
                                <td th:text="${el.getValue()}"></td>
                                <td th:text="${el.getElement().getMaxOnce()}"></td>
                                <td th:text="${el.getElement().getHazardClass()}"></td>
                                <td th:switch="${el.isExcess()}" class="center">
                                    <span th:case="true">
                                        <img src="../img/table/003--2.png" alt="перевищення">
                                        <br>
                                        <span class="center" th:text="${el. getPercentage()} + '%'"></span>
                                    </span>
                                    <img th:case="false" src="../img/table/002--1.png" alt="норма">

                                </td>
                                <!--<td th:text="${el.getMessage()}"></td>-->
                            </tr>
                        </div>

                    </table>
            
                    <div class="tax_input" id="tax">
                        <h2>Проект 2: Обрахунок податкiв</h2>
                        <form class="tax_form" th:action="@{/home}">
                            <h3>Оберiть види забруднення: </h3>
                            <ul class="tax_form">
                                <li>
                                    <input th:name="atmos" id="atmos" type="checkbox" />
                                    <label for="atmos">За викиди в атмосферне повітря </label>
                                </li>
                                <li>
                                    <input th:name="aquas" id="aquas" type="checkbox" />
                                    <label for="aquas">За скиди забруднюючих речовин у водні об'єкти </label>
                                </li>
                                <li>
                                    <input th:name="alloc" id="alloc" type="checkbox" />
                                    <label for="alloc">За розміщення відходів</label>
                                </li>
                                <li>
                                    <input th:name="radios" id="radios" type="checkbox" />
                                    <label for="radios">За утворення радіоактивних відходів</label>
                                </li>
                                <li>
                                    <input th:name="radiosAlloc" id="radiosAlloc" type="checkbox" />
                                    <label for="radiosAlloc">За тимчасове зберігання радіоактивних відходів </label>
                                </li>
                                <input type="hidden" th:name="cityName" th:value="${city.name}" />
                                <input type="hidden" th:name="cityYear" th:value="${city.year}" />
                            </ul>
                                                      
                            <div class="tax_button">
                                <button type="submit" id="submit">Обчислити екологiчний податок</button>
                            </div>

                        </form>
                        <div th:object="${taxes}" id="table_tax" class="table_tax">
                            <h2>Розрахованi податки:</h2>


                            <script th:inline="javascript">
                                let size = [[${ size }]];
                                const tableTax = document.getElementById('table_tax');
                                if (size == 0) {

                                    tableTax.style.display = 'none';
                                }
                                else {
                                    tableTax.style.display = 'block';
                                    document.location.replace(href = "#table_tax");
                                }
                            </script>

                            <table class="table">

                                <tr>
                                    <th>Назва об'єкту</th>
                                    <th>Речовина</th>
                                    <th>Об'єм викидів т/рік</th>
                                    <th>Ставки податку грн/т</th>
                                    <th>Сума податку грн</th>
                                </tr>
                                <div th:each="tx : ${taxes}">
                                    <tr class="table-info">
                                        <td th:text="${tx.getNameFactory()}"></td>
                                        <td th:text="${tx.getNameElement()}"></td>
                                        <td th:text="${tx.getVolumeEmissions()}"></td>
                                        <td th:text="${tx.getTaxRates()}"></td>
                                        <td th:text="${tx.getTaxAmount()}"></td>
                                    </tr>
                                </div>
                            </table>
                        </div>
                    </div>
                    <div class="risk">
                        <h2>Проект 3: Оцiнка ризику для здоров'я населення</h2>
                        <h2>вiд забруднення атмосферного повiтря</h2>

                        <div id="risk-table" class="risk-table">
                            <table class="table">

                                <tr>
                                    <th>Назва об'єкту</th>
                                    <th>Речовина</th>
                                    <th>ADD/LADD</th>
                                    <th>CR</th>
                                    <th>PCR</th>
                                    <th>HR</th>
                                    <th>Рівень ризику</th>
                                    <th>Критичні органи</th>
                                </tr>
                                <div th:each="el : ${risk}">
                                    <tr class="table-info">
                                        <td th:text="${el.getFactory()}"></td>
                                        <td th:text="${el.getName()}"></td>
                                        <td class="center" th:text="${el.getAddLadd() == -1.0 ? '-' :el.getAddLadd()}"></td>
                                        <td class="center" th:text="${el.getCr() == -1.0 ? '-' : el.getCr()}"></td>
                                        <td class="center" th:text="${el.getPcr() == -1.0 ? '-' : el.getPcr()}"></td>
                                        <td class="center" th:text="${el. getHq() == -1.0 ? '-' : el.getHq()}"></td>
                                        <td th:text="${el.getRiskLevel()}"></td>
                                        <td th:text="${el.getCriticalOrgans()}"></td>
                                    </tr>
                                </div>
                            </table>
                        </div>
                        <div class="tax_button">
                            <button id="risk_button" class="risk_button">Оцінка ризику</button>
                        </div>
                    </div>


                    <div class="risk">
                        <h2>Проект 4: Оцiнка потенцiйного ризику здоров’ю населення</h2>
                        <h2>в залежностi вiд якостi води</h2>

                        <div id="risk-water-table" class="risk-table">
                            <table class="table">

                                <tr>
                                    <th>Назва об'єкту</th>
                                    <th>Речовина</th>
                                    <th>Питна вода</th>
                                    <th>Рівень ризику</th>
                                    <th>Поверхневі води</th>
                                    <th>Рівень ризику</th>
                                </tr>

                                <div th:each="el : ${riskWater}">
                                    <tr class="table-info">
                                        <td th:text="${el.getNameFactory()}"></td>
                                        <td th:text="${el.getNameElement()}"></td>
                                        <td  class="center" th:text="${el.getDrinkingWater()}"></td>
                                        <td th:text="${el.getLeveldrinkingWater()}"></td>
                                        <td  class="center" th:text="${el.getSurfaceWater()}"></td>
                                        <td th:text="${el.getLevelSurfaceWater()}"></td>

                                    </tr>
                                </div>
                            </table>
                        </div>
                        <div class="tax_button">
                            <button id="risk_water_button" class="risk_button">Оцінка ризику</button>
                        </div>
                    </div>
                    <div class="risk">
                        <h2>Проект 5: Розрахунок розмiрiв вiдшкодування
                            збиткiв, якi заподiянi </h2>
                        <h2> державi в результатi наднормативних викидiв забруднюючих</h2>
                            <h2>речовин в атмосферне повiтря</h2>

                        <div id="damage-table" class="risk-table">
                            <table class="table">

                                <tr>
                                    <th>Назва об'єкту</th>
                                    <th>Речовина</th>
                                    <th>Компенсація грн</th>
                                </tr>

                                <div th:each="el : ${damages}">
                                    <tr class="table-info">
                                        <td th:text="${el.getNameFactory()}"></td>
                                        <td th:text="${el.getNameElement()}"></td>
                                        <td  class="center" th:text="${el.getCompensationDamage}"></td>
                                    </tr>
                                </div>
                            </table>
                        </div>
                        <div class="tax_button">
                            <button id="damage_button" class="risk_button">Розрахунок збитків</button>
                        </div>
                    </div>
                    <div class="risk">
                        <h2>Проект 6: Оцiнка збиткiв вiд наслiдкiв надзвичайних</h2>
                        <h2>ситуацiй техногенного i природного характеру</h2>

                        <div id="losses-table" class="risk-table">
                            <table class="table">

                                <tr>
                                    <th>Назва об'єкту</th>
                                    <th>Вид забруднення</th>
                                    <th>Збиток грн.</th>
                                </tr>

                                <div th:each="el : ${losses}">

                                    <tr th:if="${el.getNamePopLosses() != null}" class="table-info">
                                        <td th:text="${el.getFactoryName()}"></td>
                                        <td th:text="${el.getNamePopLosses()}"></td>
                                        <td class="center" th:text="${el.getHp()}"></td>
                                    </tr>


                                    <tr class="table-info"  th:if="${el.getNameAtmoLosses() != null}">
                                        <td th:text="${el.getFactoryName()}"></td>
                                        <td th:text="${el.getNameAtmoLosses()}"></td>
                                        <td class="center" th:text="${el.getAf()}"></td>
                                    </tr>


                                    <tr class="table-info"  th:if="${el.getNameAnimalLosses() != null}">
                                        <td th:text="${el.getFactoryName()}"></td>
                                        <td th:text="${el.getNameAnimalLosses()}"></td>
                                        <td class="center" th:text="${el.getMtv()}"></td>
                                    </tr>

                                    <tr class="table-info">
                                    </tr>
                                </div>
                            </table>
                        </div>
                        <div class="tax_button">
                            <button id="losses_button" class="risk_button">Розрахунок збитків</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <div class="wrapper">
            <div class="pairs">
                <div class="pair1">
                    <p>🕻 <a href="tel:+380 682 323 2383">+380 682 323 2383</a></p>
                    <p>Email:<a href="mailto:econistofficial@gmail.com"> econistofficial@gmail.com</a></p>
                </div>
                <div class="pair2">
                    <p>GitHub: <a href="https://github.com/max-zagrebelny/environmental-monitoring-website">EcoNist</a>
                    </p>
                    <p><a
                            href="https://www.google.com/maps/place/ул.+Благовестная,+39,+Черкассы,+Черкасская+область,+18000/@49.4527038,32.0349234,18.25z/data=!4m5!3m4!1s0x40d14c8cf8eca9b3:0xad7a83196131a7ea!8m2!3d49.4526892!4d32.0350531">Ми
                            знаходимося за адресою м. Черкаси вул. Благовісна 39</a></p>
                </div>
            </div>
            <img src="img/plane.png">
        </div>
    </footer>
    <script type="text/javascript" th:src="@{home.js}"></script>
</body>

</html>