<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Екологічний моніторинг</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"
          href="../static/main.css" th:href="@{main.css}" />
</head>
<body>

<table class="table">
    <caption>
        <h2><div th:object="${city}"  th:text="${city.name}"></div></h2>
    </caption>
    <tr>
        <th>Об'єкт</th>
        <th>Речовина</th>
        <th>Об'єм викидів</th>
        <th>Величина масової витрати г/год.</th>
        <th>Гранично допустимі викиди мг/м3. </th>
        <th>Перевищення</th>
        <th>Заходи, спрямовані на зменшення об'єму викидів шкідливих речовин</th>
    </tr>
    <div  th:each="ft : ${city.getFactories()}" >
        <tr class="table-info" th:each="el : ${ft.getElements()}">
            <td th:text="${ft.getName()}">smth</td>
            <td th:text="${el.getNameElement()}">smth</td>
            <td th:text="${el.getValue()}">smth</td>
            <td th:text="${el.getAverageDaily()}">smth</td>
            <td th:text="${el.getMaxOnce()}">smth</td>
            <td th:switch="${el.isExcess()}">
                <img th:case="true"  src="../image/table/red-circle.png"   alt="перевищення">
                <img th:case="false"  src="../image/table/green-circle.png"   alt="норма">
            </td>
            <td th:text="${el.getMessage()}">smth</td>
        </tr>
    </div>

</table>
</body>
</html>